<app-header></app-header>
<div class="wrapper">
    <app-sidebar class="col-lg-2"></app-sidebar>
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle</span>
                </button>
            </div>
        </nav>
    
        <router-outlet></router-outlet>
    </div>

</div>







<app-footer></app-footer>